@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



@theme {
    --color-mred: #CA3537;
    --color-light-red: #E4E1E1;
    --color-shadow-red: #DCC8C8;
    --color-shadow-black: #161513;
    --color-shadow-text: #8A8B90;
    --color-mblack: #0C0D08;
    --color-lblack: #131313;
}




body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.active {
    color: var(--color-mred);
}

.ccontainer {

    @apply lg:px-[120px] py-12 overflow-hidden px-6 mx-auto;
}

.bt1:hover {
    color: var(--color-mred);
    border-color: var(--color-mred);
    background-color: transparent;
}

.bt2:hover {
    color: white;
    border-color: var(--color-mred);
    background-color: var(--color-mred);
}

/* .card:hover {

    background: var(--color-mred);
} */

.layer:hover{
    opacity: 1;
}

.layer{
    transition: all .5s ease-in-out;

}